/* SASS Variables */

$purple: #c50074;
$blue: #01addd;
$yellow: #d6df22;
$pink: #f37020;
$grey: #dddddd;

/* Purple Usage */

.background-purple {
	background: $purple!important;
}

.text-purple{
	color: $purple!important;
}

/* Blue Usage */

.background-blue{
	background: $blue;
}

.text-blue{
	color: $blue!important;
}

/* Yellow Usage */

.background-yellow{
	background: $yellow;
}

.text-yellow{
	color: $yellow;
}

/* Pink Usage */

.background-pink{
	background: $pink;
}

.text-pink{
	color: $pink;
}

/* Grey Usage */

.background-grey {
	background: $grey;
}

.text-grey{
	color: $grey!important;
}