/*
Children's Trust Theme 
Blah blah WordPress theme stuff
*/

/* 1. Header Styles */
/*  */

/*-- 1. Header Styles --*/

@font-face{
	font-family: "Robato";
	src: url('../font/Robato-Regular.tff');

	font-family: 'Robato-Bold';
	src: url('../font/Robato-Bold.tff');

	font-family: 'Robato-Italic';
	src: url('../font/Robato-Italic.tff');
}

body {
	margin: 0;
	font-family: "Robato", Arial, sans-serif;
}

.wrapper {
	margin: 0 10%;
}

.logo{
	float: left;
}

/*- Navigation -*/

.hidden{
	display: none;
}

#navbar{
	min-height: 100px;
}

.navbar{


	.logo{
		float: left;

	}

	.nav--text{

	}

	a{
		color: #000;
		text-decoration: none;
	}

	ul{
		// display: flex;
		list-style-type: none;
	}

	.list--hover{
		display: none;

		&:hover{
			display: block;
		}
	}
}

.navbar-custom{

}

