/*
Children's Trust Theme 
Blah blah WordPress theme stuff
*/

/* Imports */

@import 'variables';

/* 1. Header Styles */
/*  */

/*-- 1. Header Styles --*/

@font-face{
	font-family: 'Roboto';
	src: url('font/Roboto-Regular.ttf') format('truetype');

	font-family: 'Roboto-Bold';
	src: url('font/Roboto-Bold.ttf') format('truetype');

	font-family: 'Roboto-Italic';
	src: url('font/Roboto-Italic.ttf');

	font-family: 'Roboto-Light';
	src: url('font/Roboto-Light.ttf');
}

body {
	margin: 0;
	font-family: 'Roboto', Arial, sans-serif;
}

.button-text{
	font-size: 12px!important;
}

.hidden{
	display: none;
}

/*- Navigation -*/


#navbar{
	min-height: 100px;
}

.navbar{


	a{
		color: #000;
		text-decoration: none;
		// padding: 0 10px;
		&:hover{
			color:#000;
		}
	}

	ul{
		// display: flex;
		list-style-type: none;
	}

}

.menu-icon{
	.container {
    	display: inline-block;
    	cursor: pointer;
	}

	.bar1, .bar2, .bar3 {
    	width: 35px;
    	height: 5px;
    	background-color: #333;
    	margin: 6px 0;
    	transition: 0.4s;
	}
}

/*- Hero Banner -*/

.hero{
	background: $blue url('../images/banner1.png') no-repeat center;
	// background-repeat-x: no-repeat;
	min-height: 521px;
	position: relative;

	.caption{
		font-family: 'Roboto-Light';
		color: #FFF;
		padding-top: 3em;
		width: 40%;

		span{
			display: inline-block;
		}

		button{
			color: #FFF;
			margin-top: 20px;
			background: $blue;
			border: none;
		}
	}
}

/*- Mission Statement -*/

.mission{
	background-color: $yellow;
	min-height: 150px;
	
}

.statement{
	width: 40%;
	margin: 0 auto;
}

/*- Cards -*/

.card-list{
	background: $blue url('../images/background-happy-girl.jpg') no-repeat right bottom;
}

.card-picture{

}

/*- Statistics -*/

.stat-text{
	font-size: 3em;
	font-family: 'Roboto-Bold', sans-serif;
	font-weight: bold;
}

/*- Support -*/

.support{
	background: #FAFAFA;

	.card-heading{
		font-size: 1.5em;
		font-weight: bold;
	}

	.help-img{
		height: 190px;
	}

	.button-text{
		background-color: rgba(256,256,256,0.3);
	}

}

/*- Footer -*/

.social-media{
	span{
		font-size: 1.2em;
		height: 100%;
	}
}